

<ng4-loading-spinner   [template]="template"
[loadingText]="'Please wait...'"
[zIndex]="9999"></ng4-loading-spinner>


<!--The content below is only a placeholder and can be replaced.-->
<div class="header-fixed">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark">
				<a class="navbar-brand" href="https://www.colsubsidio.com/afiliados/servicio-al-cliente/felicitaciones-solicitudes-y-reclamos.html">
          <img src="assets/logocolsubsidio.png" class="left-block logo-colsubsidio" alt="Logo Colsubsidio" /></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNavAltMarkup"
					aria-controls="navbarNavAltMarkup" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav menu_col pull-right d-none menu_movil">
						<li class="bt-logout">
							<a href="./">Cerrar sesión</a></li>
                    </ul>
				</div>

			</nav>
		</div>
</div>


	<router-outlet></router-outlet>


	<div class="alert_seguridad">
	    <div class="container" style="padding:20px 0px;">
	      <div class="row">
	        <div class="col-md-1 col-sm-12" style="text-align:center"> </div>
	        <div class="col-md-1 col-sm-12" style="text-align:center"> <img src="assets/icon-seguridad.png" alt="colsubsidio-seguridad" class="icon_seguridad"> </div>
	        <div class="col-md-9 col-sm-12 contrast-layer">
	          <h4 style="color:#FFF;">Importante</h4>
	          <ul>
	            <li> Los precios podrán ser modificados sin previo aviso, antes de la separación del inmueble.</li>
	            <li> El plazo para la cuota inicial no está asociado a la fecha de entrega.</li>
	            <li> El proyecto podrá ser desarrollado por etapas y ajustadas o modificadas por el Constructor, cumpliendo con las normas establecidas por las autoridades competentes.</li>
	            <li>Las características técnicas de los inmuebles estarán indicadas en el documento Especificaciones Técnicas y Acabados, podrán ser consultadas en la sala de ventas. Éste documento es entregado en el momento de la promesa de compraventa.</li>
	          </ul>
	        </div>
	        <div class="col-md-1 col-sm-12" style="text-align:center"></div>
	      </div>
	    </div>
	</div>


<footer>
  <div class="separation-line"></div>
  <div class="grey_bg" class="container">
    <div class="row">
      <div class="large-12 columns">
        <div class="row blue_line align-center">
          <ul class="buttons_top">
            <li class="btn_footer"> <a href="https://www.colsubsidio.com/afiliados/servicio-al-cliente/preguntas-frecuentes/" class="btn_f">
              <div class="icon"> <span class="triangle"></span>
                <div class="icon-container"> <img src="https://www.colsubsidio.com/uploads/2016/10/question-icon.png" alt=""> </div>
              </div>
              <div class="title">Preguntas frecuentes</div>
              <i class="fa fa-angle-right"></i> </a> </li>
            <li class="btn_footer"> <a href="https://www.colsubsidio.com/afiliados/servicio-al-cliente/guia-de-tramites.html" class="btn_f">
              <div class="icon"> <span class="triangle"></span>
                <div class="icon-container"> <img src="https://www.colsubsidio.com/uploads/2016/10/tramites-icon.png" alt=""> </div>
              </div>
              <div class="title">Guía de trámites</div>
              <i class="fa fa-angle-right"></i> </a> </li>
            <li class="btn_footer"> <a href="https://www.colsubsidio.com/afiliados/servicio-al-cliente/" class="btn_f">
              <div class="icon"> <span class="triangle"></span>
                <div class="icon-container"> <img src="https://www.colsubsidio.com/uploads/2016/10/servicio-cliente-icon.png" alt=""> </div>
              </div>
              <div class="title">Servicio al cliente</div>
              <i class="fa fa-angle-right"></i> </a> </li>
            <li class="btn_footer">
								<a href="https://www.colsubsidio.com/afiliados/servicio-al-cliente/centros-de-servicio.html" class="btn_f">
              		<div class="icon">
										<span class="triangle"></span>
                	<div class="icon-container">
										<img src="https://www.colsubsidio.com/uploads/2016/10/location-icon.png" alt="">
									</div>
              </div>
              <div class="title">Centros de servicio</div>
              <i class="fa fa-angle-right"></i> </a>
						</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="filiales">
    <div class="section-title">Filiales</div>
    <div class="logo_footer"> <a href="http://www.proteccion.com/portal/secciones/PROTPORTAL/HOME/seccion_HTML.html" target="_blank"><img src="https://www.colsubsidio.com/uploads/2016/10/proteccion.png" alt="Proteccion"></a> </div>
    <div class="logo_footer"> <a href="http://www.famisanar.com.co/" target="_blank"><img src="https://www.colsubsidio.com/uploads/2016/10/famisanar.png" alt="Famisanar"></a> </div>
    <div class="logo_footer"> <a href="https://www.bancompartir.co/#!inicio" target="_blank"><img src="https://www.colsubsidio.com/uploads/2016/10/bancompartir.png" alt="Bancompartir"></a> </div>
    <div class="logo_footer"> <a href="http://www.pagosimple.com/" target="_blank"><img src="https://www.colsubsidio.com/uploads/2016/10/simple.png" alt="Simple"></a> </div>
    <div class="logo_footer"> <a href="http://www.nuevaeps.com.co/" target="_blank"><img src="https://www.colsubsidio.com/uploads/2016/10/nueva.png" alt="Nueva EPS"></a> </div>
  </div>
  <div class="copy container">
    <div class="row align-center">
      <div class="small-12 medium-6 columns logos-footer">
				<a href="http://www.ssf.gov.co/wps/portal/ES/Inicio" target="_blank">
					<img src="https://www.colsubsidio.com/uploads/2016/10/logos_footer_1.png" alt="">
				</a>
				<a href="http://www.supersalud.gov.co/" target="_blank">
					<img src="https://www.colsubsidio.com/uploads/2016/10/logos_footer_2.png" alt="">
				</a>
			</div>
      <div class="small-12 medium-6 columns copyright"> <span>Copyright ©2016 COLSUBSIDIO Todos los derechos reservados.</span> </div>
    </div>
  </div>
</footer>
