/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
/* CSS Document */

body,html {
	margin: 0;
	padding: 0;
	background-color:#FFF;
	font-family: 'Roboto', sans-serif;
	background-repeat:no-repeat;
	background-position: center -20px;
	color: #414141;
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
	padding-top: 0rem!important;
	/*
	-webkit-box-shadow: inset 0px 0px 113px 46px rgba(176,176,176,1);
	-moz-box-shadow: inset 0px 0px 113px 46px rgba(176,176,176,1);
	box-shadow: inset 0px 0px 113px 46px rgba(176,176,176,1);
	*/
}
ul, ol{
	margin-left:0px;
}
h1, h2, h3, h4, h5, h6{
	color: #011F5B;
}
h2.title_line{
	font-weight:400 !important;
}
h1.title_line.list_inline_title, h2.title_line.list_inline_title, h3.title_line.list_inline_title {
    display: inline-block;
    margin: 10px 0 30px;
    width: auto;
    color: #011f5b;
    font-size: 1.62rem;
    font-weight: 700;
}
h1.title_line:before, h2.title_line:before, h3.title_line:before {
    content: '';
    width: 7px;
    height: 4px;
    -ms-transform: skew(-50deg);
    transform: skew(-50deg);
    background: #FFEC00;
    bottom: -1px;
    right: -7px;
    position: absolute;
}
h1.title_line:after, h2.title_line:after, h3.title_line:after {
    content: '';
    width: 22px;
    height: 4px;
    -ms-transform: skew(-50deg);
    transform: skew(-50deg);
    background: #011F5B;
    bottom: -1px;
    right: -2px;
    position: absolute;
}
h4{
	font-size: 16px;
    font-weight: bold;
}
.header-fixed {
	background: #011F5B;
	position: relative;
	z-index: 9994;
	width: 100%;
	min-height:70px;
	padding:0px 0px;
}
.logo-colsubsidio{
	width:210px;
}
.texto_home{
	padding:20px;
}
.alert_seguridad{
	margin-top:20px;
	background: #011F5B;
	padding:10px 0px;
}
.contrast-layer{
	color:#FFF;
}
.contrast-layer ul li{
	color:#FFF;
}



.menu_col li{
	width:155px;
	border-radius: 10px;
	cursor:pointer;
	font-size: 16px;
	overflow: hidden;
	padding: 5px 14px 5px 40px;
	margin-left:5px;
	color:#ffec00;
	background-size:20%;
}
.menu_col li a{
	color: #ffec00;
}

.bt-logout {
	background:url(assets/icons_amarillos.png) 4px -32px no-repeat;
}
.bt-nueva {
	background:url(assets/icons_amarillos.png) 4px -177px no-repeat;
}

.logo-ser {
	margin-bottom: 30px;
}

.alert{
	display:none;
}

label{
	color:#011F5B;
}
footer .menu_footer .menu_col h5 {
    color: #011F5B;
    font-size: 1rem;
    font-weight: 500;
}

/*HOME*/

.ingreso{
	max-width:1280px;
	background-color: #EEE;
	border-radius:5px;
	-webkit-box-shadow: 5px 5px 18px -4px rgba(194,194,194,1);
	-moz-box-shadow: 5px 5px 18px -4px rgba(194,194,194,1);
	box-shadow: 5px 5px 18px -4px rgba(194,194,194,1);
	position:relative;
}
.color_azul{

}
/*PQRS*/
.caja-pqr{
	max-width:800px;
	padding:30px;
	background-color: #EEE;
	border-radius:5px;
	-webkit-box-shadow: 5px 5px 18px -4px rgba(194,194,194,1);
	-moz-box-shadow: 5px 5px 18px -4px rgba(194,194,194,1);
	box-shadow: 5px 5px 18px -4px rgba(194,194,194,1);
	margin:50px auto;
}
.caja-pqr a{
	font-size:15px;
	font-weight:bold;

}
ul.accordion li.accordion-item.is-active .accordion-title {
    color: #fff;
    background: #011f5b;
}
.accordion-item{
	border-bottom: 3px solid #eee;
}
.btn-primary{
	padding:5px 10px;
	border-radius: 3px;
	float:right;
}
@media (max-width:680px) {
.caja-pqr{
	max-width:800px;
	padding:10px 0px 10px 0px;
	background-color: #EEE;
	border-radius:5px;
	-webkit-box-shadow: 5px 5px 18px -4px rgba(194,194,194,1);
	-moz-box-shadow: 5px 5px 18px -4px rgba(194,194,194,1);
	box-shadow: 5px 5px 18px -4px rgba(194,194,194,1);
	margin:5px auto 60px auto;
}
.icon_seguridad{
	width:40px;
}
.ingreso{
	margin-top:40px;
}
}
@media (min-width:680px) {

.separador_superior{
	margin-top:134px;
}
}


@media (max-height:399px) {
.ingreso{
	margin-top:10px;
}
body{
	background:none !important;
}
}
.ingreso .form-group{
	width:100%;
}
.ingreso input{
	width:100% !important;
}
.ingreso small{
	color:#FFF;
}
.ingreso label{
	color:#011f5a;
}
.btn_ingreso{
	width:100%;
}
.btn-primary {
    color: #fff;
    background-color: #011F5B;
    border-color: #011F5B;
}
.ingreso-administrador{
	max-width:320px;
	height:375px;
	background-color:#FFF;
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	margin:auto;
	padding:10px;
	border-radius:10px;
	color:#011F5B;
}
.ingreso-administrador label{
	color:#011F5B;
}



@media (max-width: 767px) {
h1{
	color:#011F5B;
	padding:5px 0px;
	text-align: left;
	font-weight:bold;
	padding-left:10px;
	font-size:20px;
	overflow: inherit;
	margin:5px auto;
	display: block;
	width:100%;
}
.titulo_progreso{
	text-align:right !important;
	color:#011F5B;
	padding:5px 0px;
	text-align: left;
	font-weight:bold;
	font-size:20px;
	overflow: inherit;
	margin:5px auto;
	display: none;

}
.titulo_progreso .progreso{
	padding:19px 0px;
	display: block;
	padding-left:40px;
	float: right;
	background-size:100% !important;
}
}
/******/




.btn_descargar{
	margin-bottom:10px;
	width:100%;
}

input{

}
.table .thead-dark{
	padding:3px 0px;
}
.table .thead-dark th {
    color: #011f5a;
    background-color: #ffec00;
    border-color: #ffec00;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	height:80%;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
.table thead th {
    vertical-align: middle;
    border-bottom: 0px solid #dee2e6;
}
.table form {
	margin:0px !important;
}

form{
}
.formulario_a{
	border:1px solid #CCC;
	padding-top: 20px;
	border-radius:10px;
}

/*kk*/
.thead-dark{
    color: #fff;
    background-color: #69696A;
    border-color: #69696A;
}
.paddin40{
	padding: 0px;
    clear: both;
    margin: 53px auto;
}



/* Tooltip */
.test + .tooltip > .tooltip-inner {
    background-color: #73AD21;
    color: #FFFFFF;
    border: 1px solid green;
    padding: 15px;
    font-size: 20px;
}

/* Tooltip on top */
.test + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid green;
}

/* Tooltip on bottom */
.test + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid blue;
}

/* Tooltip on left */
.test + .tooltip.left > .tooltip-arrow {
    border-left: 5px solid red;
}

/* Tooltip on right */
.test + .tooltip.right > .tooltip-arrow {
    border-right: 5px solid black;
}

/*ICONOS*/


.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	cursor:pointer;
}
.glyphicon:empty {
	width: 1em
}
.glyphicon-asterisk:before {
	content: "\2a"
}
.glyphicon-plus:before {
	content: "\2b"
}
.glyphicon-euro:before {
	content: "\20ac"
}
.glyphicon-minus:before {
	content: "\2212"
}
.glyphicon-cloud:before {
	content: "\2601"
}
.glyphicon-envelope:before {
	content: "\2709"
}
.glyphicon-pencil:before {
	content: "\270f"
}
.glyphicon-glass:before {
	content: "\e001"
}
.glyphicon-music:before {
	content: "\e002"
}
.glyphicon-search:before {
	content: "\e003"
}
.glyphicon-heart:before {
	content: "\e005"
}
.glyphicon-star:before {
	content: "\e006"
}
.glyphicon-star-empty:before {
	content: "\e007"
}
.glyphicon-user:before {
	content: "\e008"
}
.glyphicon-film:before {
	content: "\e009"
}
.glyphicon-th-large:before {
	content: "\e010"
}
.glyphicon-th:before {
	content: "\e011"
}
.glyphicon-th-list:before {
	content: "\e012"
}
.glyphicon-ok:before {
	content: "\e013"
}
.glyphicon-remove:before {
	content: "\e014"
}
.glyphicon-zoom-in:before {
	content: "\e015"
}
.glyphicon-zoom-out:before {
	content: "\e016"
}
.glyphicon-off:before {
	content: "\e017"
}
.glyphicon-signal:before {
	content: "\e018"
}
.glyphicon-cog:before {
	content: "\e019"
}
.glyphicon-trash:before {
	content: "\e020"
}
.glyphicon-home:before {
	content: "\e021"
}
.glyphicon-file:before {
	content: "\e022"
}
.glyphicon-time:before {
	content: "\e023"
}
.glyphicon-road:before {
	content: "\e024"
}
.glyphicon-download-alt:before {
	content: "\e025"
}
.glyphicon-download:before {
	content: "\e026"
}
.glyphicon-upload:before {
	content: "\e027"
}
.glyphicon-inbox:before {
	content: "\e028"
}
.glyphicon-play-circle:before {
	content: "\e029"
}
.glyphicon-repeat:before {
	content: "\e030"
}
.glyphicon-refresh:before {
	content: "\e031"
}
.glyphicon-list-alt:before {
	content: "\e032"
}
.glyphicon-lock:before {
	content: "\e033"
}
.glyphicon-flag:before {
	content: "\e034"
}
.glyphicon-headphones:before {
	content: "\e035"
}
.glyphicon-volume-off:before {
	content: "\e036"
}
.glyphicon-volume-down:before {
	content: "\e037"
}
.glyphicon-volume-up:before {
	content: "\e038"
}
.glyphicon-qrcode:before {
	content: "\e039"
}
.glyphicon-barcode:before {
	content: "\e040"
}
.glyphicon-tag:before {
	content: "\e041"
}
.glyphicon-tags:before {
	content: "\e042"
}
.glyphicon-book:before {
	content: "\e043"
}
.glyphicon-bookmark:before {
	content: "\e044"
}
.glyphicon-print:before {
	content: "\e045"
}
.glyphicon-camera:before {
	content: "\e046"
}
.glyphicon-font:before {
	content: "\e047"
}
.glyphicon-bold:before {
	content: "\e048"
}
.glyphicon-italic:before {
	content: "\e049"
}
.glyphicon-text-height:before {
	content: "\e050"
}
.glyphicon-text-width:before {
	content: "\e051"
}
.glyphicon-align-left:before {
	content: "\e052"
}
.glyphicon-align-center:before {
	content: "\e053"
}
.glyphicon-align-right:before {
	content: "\e054"
}
.glyphicon-align-justify:before {
	content: "\e055"
}
.glyphicon-list:before {
	content: "\e056"
}
.glyphicon-indent-left:before {
	content: "\e057"
}
.glyphicon-indent-right:before {
	content: "\e058"
}
.glyphicon-facetime-video:before {
	content: "\e059"
}
.glyphicon-picture:before {
	content: "\e060"
}
.glyphicon-map-marker:before {
	content: "\e062"
}
.glyphicon-adjust:before {
	content: "\e063"
}
.glyphicon-tint:before {
	content: "\e064"
}
.glyphicon-edit:before {
	content: "\e065"
}
.glyphicon-share:before {
	content: "\e066"
}
.glyphicon-check:before {
	content: "\e067"
}
.glyphicon-move:before {
	content: "\e068"
}
.glyphicon-step-backward:before {
	content: "\e069"
}
.glyphicon-fast-backward:before {
	content: "\e070"
}
.glyphicon-backward:before {
	content: "\e071"
}
.glyphicon-play:before {
	content: "\e072"
}
.glyphicon-pause:before {
	content: "\e073"
}
.glyphicon-stop:before {
	content: "\e074"
}
.glyphicon-forward:before {
	content: "\e075"
}
.glyphicon-fast-forward:before {
	content: "\e076"
}
.glyphicon-step-forward:before {
	content: "\e077"
}
.glyphicon-eject:before {
	content: "\e078"
}
.glyphicon-chevron-left:before {
	content: "\e079"
}
.glyphicon-chevron-right:before {
	content: "\e080"
}
.glyphicon-plus-sign:before {
	content: "\e081"
}
.glyphicon-minus-sign:before {
	content: "\e082"
}
.glyphicon-remove-sign:before {
	content: "\e083"
}
.glyphicon-ok-sign:before {
	content: "\e084"
}
.glyphicon-question-sign:before {
	content: "\e085"
}
.glyphicon-info-sign:before {
	content: "\e086"
}
.glyphicon-screenshot:before {
	content: "\e087"
}
.glyphicon-remove-circle:before {
	content: "\e088"
}
.glyphicon-ok-circle:before {
	content: "\e089"
}
.glyphicon-ban-circle:before {
	content: "\e090"
}
.glyphicon-arrow-left:before {
	content: "\e091"
}
.glyphicon-arrow-right:before {
	content: "\e092"
}
.glyphicon-arrow-up:before {
	content: "\e093"
}
.glyphicon-arrow-down:before {
	content: "\e094"
}
.glyphicon-share-alt:before {
	content: "\e095"
}
.glyphicon-resize-full:before {
	content: "\e096"
}
.glyphicon-resize-small:before {
	content: "\e097"
}
.glyphicon-exclamation-sign:before {
	content: "\e101"
}
.glyphicon-gift:before {
	content: "\e102"
}
.glyphicon-leaf:before {
	content: "\e103"
}
.glyphicon-fire:before {
	content: "\e104"
}
.glyphicon-eye-open:before {
	content: "\e105"
}
.glyphicon-eye-close:before {
	content: "\e106"
}
.glyphicon-warning-sign:before {
	content: "\e107"
}
.glyphicon-plane:before {
	content: "\e108"
}
.glyphicon-calendar:before {
	content: "\e109"
}
.glyphicon-random:before {
	content: "\e110"
}
.glyphicon-comment:before {
	content: "\e111"
}
.glyphicon-magnet:before {
	content: "\e112"
}
.glyphicon-chevron-up:before {
	content: "\e113"
}
.glyphicon-chevron-down:before {
	content: "\e114"
}
.glyphicon-retweet:before {
	content: "\e115"
}
.glyphicon-shopping-cart:before {
	content: "\e116"
}
.glyphicon-folder-close:before {
	content: "\e117"
}
.glyphicon-folder-open:before {
	content: "\e118"
}
.glyphicon-resize-vertical:before {
	content: "\e119"
}
.glyphicon-resize-horizontal:before {
	content: "\e120"
}
.glyphicon-hdd:before {
	content: "\e121"
}
.glyphicon-bullhorn:before {
	content: "\e122"
}
.glyphicon-bell:before {
	content: "\e123"
}
.glyphicon-certificate:before {
	content: "\e124"
}
.glyphicon-thumbs-up:before {
	content: "\e125"
}
.glyphicon-thumbs-down:before {
	content: "\e126"
}
.glyphicon-hand-right:before {
	content: "\e127"
}
.glyphicon-hand-left:before {
	content: "\e128"
}
.glyphicon-hand-up:before {
	content: "\e129"
}
.glyphicon-hand-down:before {
	content: "\e130"
}
.glyphicon-circle-arrow-right:before {
	content: "\e131"
}
.glyphicon-circle-arrow-left:before {
	content: "\e132"
}
.glyphicon-circle-arrow-up:before {
	content: "\e133"
}
.glyphicon-circle-arrow-down:before {
	content: "\e134"
}
.glyphicon-globe:before {
	content: "\e135"
}
.glyphicon-wrench:before {
	content: "\e136"
}
.glyphicon-tasks:before {
	content: "\e137"
}
.glyphicon-filter:before {
	content: "\e138"
}
.glyphicon-briefcase:before {
	content: "\e139"
}
.glyphicon-fullscreen:before {
	content: "\e140"
}
.glyphicon-dashboard:before {
	content: "\e141"
}
.glyphicon-paperclip:before {
	content: "\e142"
}
.glyphicon-heart-empty:before {
	content: "\e143"
}
.glyphicon-link:before {
	content: "\e144"
}
.glyphicon-phone:before {
	content: "\e145"
}
.glyphicon-pushpin:before {
	content: "\e146"
}
.glyphicon-usd:before {
	content: "\e148"
}
.glyphicon-gbp:before {
	content: "\e149"
}
.glyphicon-sort:before {
	content: "\e150"
}
.glyphicon-sort-by-alphabet:before {
	content: "\e151"
}
.glyphicon-sort-by-alphabet-alt:before {
	content: "\e152"
}
.glyphicon-sort-by-order:before {
	content: "\e153"
}
.glyphicon-sort-by-order-alt:before {
	content: "\e154"
}
.glyphicon-sort-by-attributes:before {
	content: "\e155"
}
.glyphicon-sort-by-attributes-alt:before {
	content: "\e156"
}
.glyphicon-unchecked:before {
	content: "\e157"
}
.glyphicon-expand:before {
	content: "\e158"
}
.glyphicon-collapse-down:before {
	content: "\e159"
}
.glyphicon-collapse-up:before {
	content: "\e160"
}
.glyphicon-log-in:before {
	content: "\e161"
}
.glyphicon-flash:before {
	content: "\e162"
}
.glyphicon-log-out:before {
	content: "\e163"
}
.glyphicon-new-window:before {
	content: "\e164"
}
.glyphicon-record:before {
	content: "\e165"
}
.glyphicon-save:before {
	content: "\e166"
}
.glyphicon-open:before {
	content: "\e167"
}
.glyphicon-saved:before {
	content: "\e168"
}
.glyphicon-import:before {
	content: "\e169"
}
.glyphicon-export:before {
	content: "\e170"
}
.glyphicon-send:before {
	content: "\e171"
}
.glyphicon-floppy-disk:before {
	content: "\e172"
}
.glyphicon-floppy-saved:before {
	content: "\e173"
}
.glyphicon-floppy-remove:before {
	content: "\e174"
}
.glyphicon-floppy-save:before {
	content: "\e175"
}
.glyphicon-floppy-open:before {
	content: "\e176"
}
.glyphicon-credit-card:before {
	content: "\e177"
}
.glyphicon-transfer:before {
	content: "\e178"
}
.glyphicon-cutlery:before {
	content: "\e179"
}
.glyphicon-header:before {
	content: "\e180"
}
.glyphicon-compressed:before {
	content: "\e181"
}
.glyphicon-earphone:before {
	content: "\e182"
}
.glyphicon-phone-alt:before {
	content: "\e183"
}
.glyphicon-tower:before {
	content: "\e184"
}
.glyphicon-stats:before {
	content: "\e185"
}
.glyphicon-sd-video:before {
	content: "\e186"
}
.glyphicon-hd-video:before {
	content: "\e187"
}
.glyphicon-subtitles:before {
	content: "\e188"
}
.glyphicon-sound-stereo:before {
	content: "\e189"
}
.glyphicon-sound-dolby:before {
	content: "\e190"
}
.glyphicon-sound-5-1:before {
	content: "\e191"
}
.glyphicon-sound-6-1:before {
	content: "\e192"
}
.glyphicon-sound-7-1:before {
	content: "\e193"
}
.glyphicon-copyright-mark:before {
	content: "\e194"
}
.glyphicon-registration-mark:before {
	content: "\e195"
}
.glyphicon-cloud-download:before {
	content: "\e197"
}
.glyphicon-cloud-upload:before {
	content: "\e198"
}
.glyphicon-tree-conifer:before {
	content: "\e199"
}
.glyphicon-tree-deciduous:before {
	content: "\e200"
}


@media (max-width: 767px) {
.hidden-xs{
	display:none !important;
}
}

.button-wrapper button {
  	width: 100%;
    border-radius: 6px;
    background: #1d1e6b;
    padding: .7rem 4rem;
    color: #fefefe;
    margin-bottom: 1rem;
    font-size: .87rem;
    font-weight: 700;
    position: relative;
}
.button-wrapper button .icon {
    background: url(assets/arrow-button.png) no-repeat;
    width: 9px;
    height: 15px;
    background-size: 8px;
    display: block;
    position: absolute;
    right: 17px;
    top: 11px;
    transition: right .5s ease;
}
.button-wrapper button:hover .icon {
    right: 13px;
}
.button-wrapper button:hover .text{
	color:#FF0;
}
.button-wrapper .btn_descargar{
	width: 100%;
    border-radius: 6px;
    background: #1d1e6b;
    padding: .7rem 2rem;
    color: #fefefe;
    margin-bottom: 1rem;
    font-size: .87rem;
    font-weight: 700;
    position: relative;
}
.respuesta{
	color:#900;
}


.container{

}

.sub_titulo_requisito, label {
    display: block;
    width: 100%;
    color: #1b2268;
    font-size: 13px;
    font-family: Roboto;
    margin: 10px 0;
	font-weight:400;
}
.pestana_boton{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #1b2268;
	color:#FF0;
	position:absolute;
	top:-34px;
	display:block;
	right:9px;
	padding:7px 20px;
	cursor:pointer;
}

h4{
	color:#011f5a;
	font-size:24px;
	padding-right:20px;
	font-weight:300;
}
.button-wrapper button {
    width: 300px;
    border-radius: 6px;
    background: #011f5a;
    padding: .7rem 4rem;
    color: #feed03;
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    float: right;
}
label{

}
.sub_titulo_requisito, label {
    display: block;
    width: 100%;
    color: #1b2268;
    font-size: 13px;
    font-family: Roboto;
    margin: 5px 0;
    font-weight: 500;
}

.img_proyecto{
	-webkit-border-radius: 5px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius: 5px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-radius: 5px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

/*PASOS*/
.pasos{
	background-image: url(assets/cortes-05.png);
}
.paso_proceso span{
	background-repeat:no-repeat;
	background-position:top;
	width:57px;
	height:57px;
	float:left;
}
.ico_proceso1 span{
	background-image: url(assets/cortes-01.png);
}
.ico_proceso2 span{
	background-image: url(assets/cortes-02.png);
}
.ico_proceso3 span{
	background-image: url(assets/cortes-03.png);
}
.ico_proceso4 span{
	background-image: url(assets/cortes-04.png);
}
.paso_proceso strong{
	float:left;
	display:block;
	margin-top:18px;
	background-color:#f7faff;
	padding-right:30px;
}
.paso_proceso:hover span{
	background-position: bottom;
}
.paso_proceso span.activo{
	background-position: bottom;
}


.info_pasada{
	color:#011F5B;
	padding:10px;
	text-align:center;
}
.info_pasada .row{

}
.info_pasada h2{
	float:left;
	clear:both;
}
.info_pasada label{
	float:left;
	clear:both;
	text-align:left;
}
.info_pasada .borde_izq{
	border-left:1px solid #a9a9a9;
}
.borde_der{
	border-right:1px solid #a9a9a9;
}

.link_legal {
    padding-left: 15px;
    background: url(assets/arrow_footer.png) 0 4px no-repeat;
    font-size: .8rem;
	color:#414141;
}
.seccion_titulos{
	padding:30px 5px;
}
.form-control {
    padding: .375rem 1.75rem !important;
}


.spinner img {
	height: 50% !important;
    width: 50% !important;
    top: 26% !important;
    left: 24% !important;
}
