/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
/* CSS Document */

body,html {
	margin: 0;
	padding: 0;
	background-color:#FFF;
	font-family: 'Roboto', sans-serif;
	background-repeat:no-repeat;
	background-position: center -20px;
	color: #414141;
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
	padding-top: 0rem!important;
	/*
	-webkit-box-shadow: inset 0px 0px 113px 46px rgba(176,176,176,1);
	-moz-box-shadow: inset 0px 0px 113px 46px rgba(176,176,176,1);
	box-shadow: inset 0px 0px 113px 46px rgba(176,176,176,1);
	*/
}
ul, ol{
	margin-left:0px;
}
h1, h2, h3, h4, h5, h6{
	color: #011F5B;
}
h2.title_line{
	font-weight:400 !important;
}
h1.title_line.list_inline_title, h2.title_line.list_inline_title, h3.title_line.list_inline_title {
    display: inline-block;
    margin: 10px 0 30px;
    width: auto;
    color: #011f5b;
    font-size: 1.62rem;
    font-weight: 700;
}
h1.title_line:before, h2.title_line:before, h3.title_line:before {
    content: '';
    width: 7px;
    height: 4px;
    -ms-transform: skew(-50deg);
    transform: skew(-50deg);
    background: #FFEC00;
    bottom: -1px;
    right: -7px;
    position: absolute;
}
h1.title_line:after, h2.title_line:after, h3.title_line:after {
    content: '';
    width: 22px;
    height: 4px;
    -ms-transform: skew(-50deg);
    transform: skew(-50deg);
    background: #011F5B;
    bottom: -1px;
    right: -2px;
    position: absolute;
}
h4{
	font-size: 16px;
    font-weight: bold;
}
.header-fixed {
	background: #011F5B;
	position: relative;
	z-index: 9994;
	width: 100%;
	min-height:70px;
	padding:0px 0px;
}
.logo-colsubsidio{
	width:210px;
}
.texto_home{
	padding:20px;
}
.alert_seguridad{
	margin:20px 0px 20px 0px;
	padding: 10px;
	background: #011F5B;
}
.contrast-layer{
	color:#FFF;
}
.contrast-layer ul li{
	color:#FFF;
}



.menu_col li{
	width:155px;
	border-radius: 10px;
	cursor:pointer;
	font-size: 16px;
	overflow: hidden;
	padding: 5px 14px 5px 40px;
	margin-left:5px;
	color:#ffec00;
	background-size:20%;
}
.menu_col li a{
	color: #ffec00;
}

.bt-logout {
	background:url(assets/icons_amarillos.png) 4px -32px no-repeat;
}
.bt-nueva {
	background:url(assets/icons_amarillos.png) 4px -177px no-repeat;
}

.logo-ser {
	margin-bottom: 30px;
}

.alert{
	display:none;
}

label{
	color:#011F5B;
}
footer .menu_footer .menu_col h5 {
    color: #011F5B;
    font-size: 1rem;
    font-weight: 500;
}

/*HOME*/

.ingreso{
	max-width:1280px;
	background-color: #EEE;
	border-radius:5px;
	-webkit-box-shadow: 5px 5px 18px -4px rgba(194,194,194,1);
	-moz-box-shadow: 5px 5px 18px -4px rgba(194,194,194,1);
	box-shadow: 5px 5px 18px -4px rgba(194,194,194,1);
	position:relative;
}
.color_azul{

}
/*PQRS*/
.caja-pqr{
	max-width:800px;
	padding:30px;
	background-color: #EEE;
	border-radius:5px;
	-webkit-box-shadow: 5px 5px 18px -4px rgba(194,194,194,1);
	-moz-box-shadow: 5px 5px 18px -4px rgba(194,194,194,1);
	box-shadow: 5px 5px 18px -4px rgba(194,194,194,1);
	margin:50px auto;
}
.caja-pqr a{
	font-size:15px;
	font-weight:bold;

}
ul.accordion li.accordion-item.is-active .accordion-title {
    color: #fff;
    background: #011f5b;
}
.accordion-item{
	border-bottom: 3px solid #eee;
}
.btn-primary{
	padding:5px 10px;
	border-radius: 3px;
	float:right;
}
@media (max-width:768px) {
	.icon_seguridad{
		width:40px;
	}
	.paso_proceso .titupaso{
		font-size: 9px;
	}
	.sub_titulo_requisito, label {
	    color: #011f5a;
			font-weight: 500px;
			font-size: 10px;
	}
	.borde_der{
		border-right:0px solid #a9a9a9 !important;
		border-bottom: 1px solid #a9a9a9 !important;
	}
}
@media (min-width:768px) {
	.seccion_titulos{
		padding:0px;
	}
	.separador_superior{
		margin-top:134px;
	}
}


@media (max-height:399px) {
.ingreso{
	margin-top:10px;
}
body{
	background:none !important;
}
}
.btn_ingreso{
	width:100%;
}
.btn-primary {
    color: #fff;
    background-color: #011F5B;
    border-color: #011F5B;
}
.ingreso-administrador{
	max-width:320px;
	height:375px;
	background-color:#FFF;
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	margin:auto;
	padding:10px;
	border-radius:10px;
	color:#011F5B;
}
.ingreso-administrador label{
	color:#011F5B;
}



@media (max-width: 767px) {
h1{
	color:#011F5B;
	padding:5px 0px;
	text-align: left;
	font-weight:bold;
	padding-left:10px;
	font-size:20px;
	overflow: inherit;
	margin:5px auto;
	display: block;
	width:100%;
}
.titulo_progreso{
	text-align:right !important;
	color:#011F5B;
	padding:5px 0px;
	text-align: left;
	font-weight:bold;
	font-size:20px;
	overflow: inherit;
	margin:5px auto;
	display: none;

}
.titulo_progreso .progreso{
	padding:19px 0px;
	display: block;
	padding-left:40px;
	float: right;
	background-size:100% !important;
}
}
/******/
.btn_descargar{
	margin-bottom:10px;
	width:100%;
}
.table .thead-dark{
	padding:3px 0px;
}
.table .thead-dark th {
    color: #011f5a;
    background-color: #ffec00;
    border-color: #ffec00;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	height:80%;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
.table thead th {
    vertical-align: middle;
    border-bottom: 0px solid #dee2e6;
}
.table form {
	margin:0px !important;
}
.formulario_a{
	border:1px solid #CCC;
	padding-top: 20px;
	border-radius:10px;
}

/*kk*/
.thead-dark{
    color: #fff;
    background-color: #69696A;
    border-color: #69696A;
}
.paddin40{
    clear: both;
    margin: 30px auto;
}



/* Tooltip */
.test + .tooltip > .tooltip-inner {
    background-color: #73AD21;
    color: #FFFFFF;
    border: 1px solid green;
    padding: 15px;
    font-size: 20px;
}

/* Tooltip on top */
.test + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid green;
}

/* Tooltip on bottom */
.test + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid blue;
}

/* Tooltip on left */
.test + .tooltip.left > .tooltip-arrow {
    border-left: 5px solid red;
}

/* Tooltip on right */
.test + .tooltip.right > .tooltip-arrow {
    border-right: 5px solid black;
}



@media (max-width: 767px) {
.hidden-xs{
	display:none !important;
}
}

.button-wrapper button {
  	width: 100% !important;
    border-radius: 6px;
    background: #1d1e6b;
    padding: .7rem 4rem;
    color: #fefefe;
    margin-bottom: 1rem;
    font-size: .87rem;
    font-weight: 700;
    position: relative;
}
.button-wrapper button .icon {
    background: url(assets/arrow-button.png) no-repeat;
    width: 9px;
    height: 15px;
    background-size: 8px;
    display: block;
    position: absolute;
    right: 17px;
    top: 18px;
    transition: right .5s ease;
}
.button-wrapper button:hover .icon {
    right: 13px;
}
.button-wrapper button:hover .text{
	color:#FF0;
}
.button-wrapper .btn_descargar{
	width: 100%;
    border-radius: 6px;
    background: #1d1e6b;
    padding: .7rem 2rem;
    color: #fefefe;
    margin-bottom: 1rem;
    font-size: .87rem;
    font-weight: 700;
    position: relative;
}
.respuesta{
	color:#900;
}
.pestana_boton{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #1b2268;
	color:#FF0;
	position:absolute;
	top:-34px;
	display:block;
	right:9px;
	padding:7px 20px;
	cursor:pointer;
}
h4{
	color:#011f5a;
	font-size:24px;
	padding-right:20px;
	font-weight:300;
}
.button-wrapper button {
    width: 300px;
    border-radius: 6px;
    background: #011f5a;
    padding: .7rem 4rem;
    color: #feed03;
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    float: right;
}

.sub_titulo_requisito, label {
    color: #011f5a;
		font-weight: 500px;
}

.img_proyecto{
	-webkit-border-radius: 5px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius: 5px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-radius: 5px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}
.form-check-input.is-invalid~.form-check-label a, .was-validated .form-check-input:invalid~.form-check-label a {
    color: #dc3545;
}

/*PASOS*/
.pasos{
	background-image: url(assets/cortes-05.png);
}
.pasos .col-xl-4{
	max-width: 33%;
}
.paso_proceso .numm{
	float:left;
	background-color: #011f5a;
    color: #FFF;
    border-radius: 50%;
    padding: 11px 12px;
    font-size: 25px;
    font-weight: bold;
    height: 40px;
    width: 40px;
}
.paso_proceso .titupaso{
	float:left;
	display:block;
	margin-top:12px;
	padding-left:10px;
	color: #FFF;
}
.paso_proceso .activo{
	color:#f9ee14
}


.info_pasada{
	color:#011F5B;
	padding:10px;
	text-align:center;
}
.info_pasada .row{

}
.info_pasada h2{
	float:left;
	clear:both;
}
.info_pasada label{
	float:left;
	clear:both;
	text-align:left;
}
.info_pasada .borde_izq{
	border-left:1px solid #a9a9a9;
}
.borde_der{
	border-right:1px solid #a9a9a9;
	border-bottom: 0px solid #a9a9a9;
}

.link_legal {
    padding-left: 15px;
    background: url(assets/arrow_footer.png) 0 4px no-repeat;
    font-size: .8rem;
	color:#414141;
}

.form-control {
    padding: .375rem 1.75rem !important;
}


.spinner img {
	height: 50px !important;
    width: 50px !important;
    top: 40% !important;
    left: 40% !important;
}
.clear{
	clear: both;
}
.list-group {
	padding-top: 20px;
}
.list-group-item {
    padding: .25rem 1.25rem !important;
		background-color: #EEE;
}
.reversa{
	-webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
	left: 20px;
	right: inherit;
}
